latex/*.aux
latex/*.fdb_latexmk
latex/*.fls
latex/*.log
latex/*.out
latex/inequality.pdf
latex/*.xdv
MAlonzo/
Inequality
Figures/*.dot
Figures/*.ssa
Figures/*.pdf
Scratch.agda
EndoFunctionsAsAMonoid.agda
LogicTest.agda
MatrixOfVectors.agda
